body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#1B4353,#F88DAD);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #F88DAD;
    margin-bottom: 10px;
}

#bday-age {
    background: #F88DAD;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #F88DAD;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}
#Pic:hover {
    background-image: url("images/Pic.jpg");
}
#Wish{
    font-size: 20px;
    margin: 20px auto;
    max-width: 560px;
    height: 333px;
    background-image: url("images/Message_cover.jpg");
    border: 1px solid white;
}
#wish:hover::after{
    font-weight: bold;
    content: 'Happy Birthday my friend. Thanks for supporting me in every condition and backing me up when no one else was there, Thanks for all the great moments and memories. I pray that Allah grants you best of both worlds. Stay blessed, Happy and prosperous in every phase of life.';
}
#wish:hover{
    background: #F88DAD;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}
.Icons{
    margin-top: 40px;
}
.Icons #instagram{
    padding-right:5%;
    font-size: 50px;
}
.Icons #linkedin{
    padding-left:5%;
    font-size: 50px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/